html {
    overflow-y: scroll;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	background: url(../img/bg.jpg) center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin:0px;
	padding:0px;
}
a,a:visited{
	color:black;
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
	color:rgb(126, 239, 104)
}
.lol_content{
	display:block;
	color:black;
	font-size:15px;
	padding:10px;
	border:solid 2px white;
	margin-bottom:30px;
}
.lol_title{
	font-weight:900;
	color:white;
	font-size:30px;
	text-align:left;
	margin-top:10px;
}
.lol_formField{
	font-family: 'Roboto', sans-serif;
	color:white;
	border:solid 2px white;
	border-radius:0px;
}
.lol_button,.lol_button:active,.lol_button:focus{
	background:rgba(255,255,255,0.5);
	border:0;
	border-radius:0px;
	color:black;
}
.lol_button:hover{
	background:rgba(255,255,255,0.1);
	cursor: pointer;
}
.lol_blur{
	background: url(../img/bg-blur.jpg) center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.lol_white{
	background:rgba(255,255,255,0.5);
}

.lol_emailErrorMessage{
	margin-top: 20px;
	padding:5px;
	color:#a94442;
	border:solid 3px #a94442;;
	text-align: left;
	background:rgba(255,255,255,0.5);
}
.lol_emailHappyMessage{
	margin-top: 20px;
	padding:5px;
	color:green;
	border:solid 3px green;
	text-align: left;
	background:rgba(255,255,255,0.5);
}

input:focus,textarea:focus,select:focus{
	border-color: white !important;
	box-shadow: none !important;
	/*border-color: rgb(126, 239, 104) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6) !important;
	outline: 0 none !important;*/
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:rgba(255, 255, 255, 0.8) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:rgba(255, 255, 255, 0.8) !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:rgba(255, 255, 255, 0.8) !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:rgba(255, 255, 255, 0.8) !important;
}

.nav-tabs li a{
	border-radius: 0;
	color:white;
	font-size: 20px;
	font-weight:bold;
	text-decoration: none;
	border:3px solid white;
	margin-bottom:-3px;
}
.nav-tabs li a:hover,
.nav-tabs li a:focus,
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus{
	color:black;
	border:3px solid white;
	background:rgba(255,255,255,0.5);
}

.has-error input{
	background:rgba(255,0,0,0.1) !important;
}

